
/* CONFIGURAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TELA PRINCIPAL */
body {
    background-color: rgb(156, 235, 170);

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 25px;

    font-family: Arial, sans-serif;
}

/* TÍTULO */
h1 {
    font-size: 36px;
}

/* BOTÃO */
button {
    padding: 15px 25px;

    font-size: 26px;

    border: none;
    border-radius: 8px;

    background-color: #e5ece6;
    color: rgb(219, 49, 49);

    cursor: pointer;
}


/* PÁGINA 1 E PÁGINA 2 */

#pagina1,
#pagina2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    min-height: 100vh;
    width: 100%;
}

/* PÁGINA 2 */

#pagina2 {
    display: none;
    background-color: rgb(180, 210, 245);
}

/* BOTÃO VOLTAR */

#btnVoltar {
    background-color: #174a91;
}